*{
    margin: 0px;
    padding: 0px;
}

header{
    height: 15px auto;
    background: rgb(54, 198, 54);
    text-align: center;
}

.formulario{
    margin: 50px auto;
    width: 450px;
    background: rgb(207, 199, 215);
    border-radius: 10px;
    font-size: 18pt;
}

input{
    height: 30px;
    width: 220px;
}

button{
    height: 40px;
    width: 90px;
    float: right;
}