*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/*-----------------------------------*/
/*geral*/
.text-center {
    text-align: center;
}

.margin-top-40{
    margin-top: 40px;
}

/*-----------------------------------*/

.container-cabecalho{
    text-align: center;
    padding: 20px;
    background-color: #072650;
}

.container-cabecalho h3{
    font-weight: 600;
    font-size: 20px;
    color: #84bce9
}

/*-----------------------------------*/

.container-formcadastrologin{
    background-color: #1d173b;
    overflow: auto;
}

.container-formcadastrologin .cadastrologin{
    float: center;
    margin: 20px auto;
    width: 50%;
    padding: 15px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: #97b9d6;
    font-weight: bold;
}

.direito{
    float: right;
    font-size: 18px;
    margin: 0px 10px;
    font-family: 'Courier New', Courier, monospace
    

}
.esquerda{
    float: left;
    font-size: 18px;
    margin: 0px 10px;
    font-family: 'Courier New', Courier, monospace
    
}

.container-formcadastrologin .container-botao-cadastro{
    display: block;
    max-width: 200px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    background-color: #477fad;
    color: white;
    padding: 10px 20px;
    margin: 10px auto;
    border-radius: 15px;
    font-weight: bold;
}

.container-formcadastrologin .container-botao-cadastro:hover{
    background-color: white;
    color: black;
}

footer{
    text-align: center;
    padding: 50px;
    background-color: #1d173b;
    color: #97b9d6;
}
