body{
    text-align: center;
    background-color: aliceblue;
}

#container{
    text-align: center;
}

#cabecalho{
    margin-top: 70px;
}

main{
    margin: 70px;
    background-color: rgb(196, 186, 186);
    display: flex;
    margin-left: 430px;
    border-radius: 25px;
    box-shadow: 3px 3px 3px 1px; 
}

.direito{
    float: right;
    font-size: 15pt;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.esquerda{
    float: left;
    font-size: 15pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input{
    width: 250px;
}

main{
    width: 650px;
    
}

.criacao-de-senha{
    font-size: 15pt;
}

button{
    font-size: 20pt;
    margin-top: 15px;
    border-radius: 10px;
}

button:hover{
    transform: scale(1.3);
}