*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    overflow: auto;
}

/*-----------------------------------*/
/*geral*/
.text-center {
    text-align: center;
}

.margin-top-40{
    margin-top: 40px;
}

/*-----------------------------------*/

.container-cabecalho{
    text-align: center;
    padding: 20px;
    background-color: #072650;
}

.container-cabecalho h3{
    font-weight: 600;
    font-size: 20px;
    color: #84bce9
}

/*-----------------------------------*/
.container-navegacao{
    overflow: auto;
    display:flex;
    text-align: center;
    padding: 20px;
    background-color: #154070;
}

.container-navegacao a{
    font-size: 22px;
    margin: 0px 50px;
    text-decoration: none;
    color: #84bce9;

}

.container-navegacao .cadastrousuario{
    text-align: end;
    
}

.container-navegacao a:hover{
    color: white;
}

/*-----------------------------------*/

.container-formpesquisa{
    background-color: #1d173b;
    overflow: auto;
}

.container-formpesquisa .formulario{
    overflow: auto;
    margin: 30px auto;
    background-color: #061f35;
    width: 70%;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    font-size: 15px;
    color: #97b9d6;
    font-weight: bold;
}

.container-formpesquisa .formulario .icon{
    margin-bottom: 10px;
}

.container-formpesquisa .container-botao-pesquisa{
    overflow: auto;
    float:none;
    display: block;
    max-width: 200px;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    background-color: #477fad;
    color: white;
    padding: 10px 10px;
    margin: 10px auto;
    border-radius: 15px;
    font-weight: bold;
   
}

.container-formpesquisa .container-botao-pesquisa:hover{
    background-color: white;
    color: black;
}

/*-----------------------------------*/

.results-section {
    float: center;
    margin: 30px auto;
    background-color: #061f35;
    width: 70%;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    font-size: 15px;
    color: #bfcedb;
    font-weight: bold;
    
}

.results-section h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.result-item {
    float: center;
    border: 1px solid #3e74c5;
    padding: 10px;
    margin-bottom: 5px;
    width: 98%;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: auto;
}

.green {
    color: green;
}

.red {
    color: red;
}

/*-----------------------------------*/

footer{
    text-align: center;
    padding: 50px;
    background-color: #1d173b;
    color: #97b9d6;
}